:root.theme-dark {
  --bd-image: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --main-title-color: #db00ff;
  --text-color-text: #000028;
  --text-color: #ff0070;
  --text-color-p: #f1b2ce;
  --br-color-button: #ff007066;
  --br-color: #ff0070;
  --bg-color: #000028;
}

.theme-dark .page {
  .header__icon-element {
    display: flex;
  }
}
