/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bd-image: url(../images/cover-image-light.png);
  --accent-color: #ff8dcb;
  /* --accent-color-light: #353430; */
  --text-color-h1: #ffc2e6;
  --br-color-button: #32312d66;
  --text-color-text: #353430;
  --text-color: #353430;
  --text-color-p: #353430;
  --bg-color: #fff1f7;
  --br-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --bd-image: url(../images/cover-image-light.png);
    --accent-color: #ff8dcb;
    /* --accent-color-light: #353430; */
    --text-color-h1: #ffc2e6;
    --br-color-button: #32312d66;
    --text-color-text: #353430;
    --text-color: #353430;
    --text-color-p: #353430;
    --bg-color: #fff1f7;
    --br-color: #353430;
  }
  .header__icon-element {
    display: none;
  }
}

.theme-light .page {
  .header__icon-element {
    display: none;
  }
}
