/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bd-image: url(../images/cover-image-light.png);
  --accent-color: #ff8dcb;
  /* --accent-color-light: #353430; */
  --text-color-h1: #ffc2e6;
  --br-color-button: #32312d66;
  --text-color-text: #353430;
  --text-color: #353430;
  --text-color-p: #353430;
  --bg-color: #FFF1F7;
  --br-color: #353430;
}


@media (prefers-color-scheme: light) {
  :root {
    --bd-image: url(../images/cover-image-light.png);
    --accent-color: #ff8dcb;
    /* --accent-color-light: #353430; */
    --text-color-h1: #ffc2e6;
    --br-color-button: #32312d66;
    --text-color-text: #353430;
    --text-color: #353430;
    --text-color-p: #353430;
    --bg-color: #FFF1F7;
    --br-color: #353430;
  }
  .header__icon-element {
    display: none;
  }
}

.theme-light .page {
  .header__icon-element {
    display: none;
  }

  /* .decorated-zone::before {
    border-top: 1px solid var(--accent-color-light);
    border-right: 1px solid var(--accent-color-light);
  }

  .decorated-zone::after {
    border-bottom: 1px solid var(--accent-color-light);
    border-left: 1px solid var(--accent-color-light);
  }

  .header__theme-menu {
    color: var(--accent-color-light);
  }

  .header__theme-menu-button_active:disabled   {
    border: 1px solid var(--accent-color-light);
  }

  .header__theme-menu-button:focus-visible {
    --accent-color: #353430;
    border-block-end: 1px solid var(--accent-color);
  }

  .content__tiile {
    color: var(--accent-color-light);
  }

  .content__subtitle {
    color: var(--accent-color-light);
  }

  .content__text {
    color: var(--accent-color-light);
  }
  .content__text-link:hover {
    border-bottom: 1px solid var(--accent-color-light);
  }

  .content__text-link:focus-visible {
    outline: 1px solid var(--accent-color-light);
  } */
}


