:root {
  --bd-image: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --text-color-h1: #db00ff;
  --text-color-text: #000028;
  --text-color: #ff0070;
  --text-color-p: #f1b2ce;
  --br-color-button: #ff007066;
  --br-color: #ff0070;
  --bg-color: #000028;
  --accent-font: "IBM Plex Mono";
  --font-weight-bt: 700;
  --font-weight-reg: 400;
  --font-size-mob: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --font-size-desc: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --line-height-desc: clamp(5.98125rem, 4.7595rem + 5.2126vw, 8.095625rem);
}
